/* =============
    Typography
============= */
body{
    font-family: 'Comfortaa', sans-serif;
}

h1,h2,h3,h5{
    margin: 0;
    padding: 0;
}

p {
    line-height: rem-calc(30);
    font-size: rem-calc(22);
} 